<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:arg name="collider" default="simple"/>
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:property name="collider_type" value="$(arg collider)"/>
	<xacro:include filename="$(find arx5_description)/xacro/components/gripper_2023.xacro"/>
	<xacro:macro name="R5" params="name camera:=d405 style:=default collider:=simple with_gripper:='true'">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<link name="${prefix}base_link">
			<inertial>
				<origin xyz="-0.00013359 6.672E-05 0.031672"/>
				<mass value="0.42272"/>
				<inertia
						ixx="0.00019"
						ixy="0.00000"
						ixz="0.00000"
						iyy="0.00019"
						iyz="0.00000"
						izz="0.00020"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/base_link.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/base_link.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision>
					<origin xyz="0 0 0.0312"/>
					<geometry>
						<cylinder length="0.0625" radius="0.0305"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<link name="${prefix}link1">
			<inertial>
				<origin xyz="0.0050395 -0.0077407 0.020897"/>
				<mass value="0.096804"/>
				<inertia
						ixx="0.00011"
						ixy="-0.00001"
						ixz="0.00001"
						iyy="0.00005"
						iyz="-0.00001"
						izz="0.00010"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link1.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link1.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}joint1" type="revolute">
			<origin xyz="0 0 0.0565"/>
			<parent link="${prefix}base_link"/>
			<child link="${prefix}link1"/>
			<axis xyz="0 0 1"/>
			<limit lower="-2.618" upper="2.168" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link2">
			<inertial>
				<origin xyz="-0.12992 -0.0011822 -2.6366E-05"/>
				<mass value="1.1988"/>
				<inertia
						ixx="0.00065"
						ixy="0.00008"
						ixz="0.00000"
						iyy="0.01647"
						iyz="0.00000"
						izz="0.01646"/>
			</inertial>
			<visual>
				<geometry>
					<xacro:if value="${style == 'agilex'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link2_agilex.glb"/>
					</xacro:if>
					<xacro:if value="${style == 'default'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link2.glb"/>
					</xacro:if>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link2.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link2_1">
					<origin xyz="0 0.003 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.0665" radius="0.03"/>
					</geometry>
				</collision>
				<collision name="simple_link2_2">
					<origin xyz="-0.264 0.003 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.0665" radius="0.03"/>
					</geometry>
				</collision>
				<collision name="simple_link2_3">
					<origin xyz="-0.132 0.001 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<box size="0.264 0.051 0.05"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>
		<joint name="${prefix}joint2" type="revolute">
			<origin xyz="0.02 0 0.047"/>
			<parent link="${prefix}link1"/>
			<child link="${prefix}link2"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="3.66" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link3">
			<inertial>
				<origin xyz="0.16181 0.0011723 -0.05455"/>
				<mass value="0.84082"/>
				<inertia
						ixx="0.00082"
						ixy="0.00008"
						ixz="-0.00074"
						iyy="0.00849"
						iyz="0.00001"
						izz="0.00834"/>
			</inertial>
			<visual>
				<geometry>
					<xacro:if value="${style == 'agilex'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link3_agilex.glb"/>
					</xacro:if>
					<xacro:if value="${style == 'default'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link3.glb"/>
					</xacro:if>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link3.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link3_1">
					<origin xyz="0.242 0 -0.0603" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.054" radius="0.032"/>
					</geometry>
				</collision>
				<collision name="simple_link3_2">
					<origin xyz="0.13 -0.001 -0.0603" rpy="${PI/2} 0 0"/>
					<geometry>
						<box size="0.25 0.048 0.05"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint3" type="revolute">
			<origin xyz="-0.264 0 0" rpy="-3.1416 0 0"/>
			<parent link="${prefix}link2"/>
			<child link="${prefix}link3"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="3.14" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link4">
			<inertial>
				<origin xyz="0.041751 0.0054236 -0.03337"/>
				<mass value="0.12432"/>
				<inertia
						ixx="0.00022"
						ixy="-0.00002"
						ixz="-0.00009"
						iyy="0.00025"
						iyz="0.00002"
						izz="0.00017"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link4.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link4.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link4">
					<origin xyz="0.07 0.0001 -0.065" rpy="0 0 0"/>
					<geometry>
						<cylinder length="0.04" radius="0.0315"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint4" type="revolute">
			<origin xyz="0.245 -5E-05 -0.06"/>
			<parent link="${prefix}link3"/>
			<child link="${prefix}link4"/>
			<axis xyz="0 1 0"/>
			<limit lower="-1.57" upper="1.57" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link5">
			<inertial>
				<origin xyz="-8.3435E-05 -1.5428E-05 0.052216"/>
				<mass value="0.63601"/>
				<inertia
						ixx="0.00084"
						ixy="0.00000"
						ixz="0.00007"
						iyy="0.00082"
						iyz="0.00000"
						izz="0.00026"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link5.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link5.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link5_1">
					<origin xyz="0.0063 0 0.086" rpy="${PI/2} 0 ${PI/2}"/>
					<geometry>
						<cylinder length="0.045" radius="0.03145"/>
					</geometry>
				</collision>
				<collision name="simple_link5_2">
					<origin xyz="-0.0002 0 0.05" rpy="0 0 0"/>
					<geometry>
						<cylinder length="0.013" radius="0.03145"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint5" type="revolute">
			<origin xyz="0.0702 5E-05 -0.083391"/>
			<parent link="${prefix}link4"/>
			<child link="${prefix}link5"/>
			<axis xyz="0 0 1"/>
			<limit lower="-1.57" upper="1.57" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}ee"/>
		<joint name="${prefix}joint6" type="revolute">
			<origin xyz="0.025286 0 0.083391" rpy="3.1416 0 0"/>
			<parent link="${prefix}link5"/>
			<child link="${prefix}ee"/>
			<axis xyz="1 0 0"/>
			<limit lower="-1.57" upper="1.57" effort="100" velocity="5"/>
		</joint>

		<xacro:if value="${str(with_gripper).lower() in ['1', 'true', 'yes', 'on']}">
			<xacro:arx_gripper_2023
				prefix="${prefix}"
				parent_link="${prefix}ee"
				collider="${collider}"
				camera="${camera}"/>
		</xacro:if>
	</xacro:macro>
</robot>
