<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:arg name="collider" default="simple"/>
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:property name="collider_type" value="$(arg collider)"/>
	<xacro:macro name="R5" params="name camera:=d405 style:=default collider:=simple">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<link name="${prefix}base_link">
			<inertial>
				<origin xyz="-0.00013359 6.672E-05 0.031672"/>
				<mass value="0.42272"/>
				<inertia
						ixx="0.00019"
						ixy="0.00000"
						ixz="0.00000"
						iyy="0.00019"
						iyz="0.00000"
						izz="0.00020"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/base_link.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/base_link.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision>
					<origin xyz="0 0 0.0312"/>
					<geometry>
						<cylinder length="0.0625" radius="0.0305"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<link name="${prefix}link1">
			<inertial>
				<origin xyz="0.0050395 -0.0077407 0.020897"/>
				<mass value="0.096804"/>
				<inertia
						ixx="0.00011"
						ixy="-0.00001"
						ixz="0.00001"
						iyy="0.00005"
						iyz="-0.00001"
						izz="0.00010"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link1.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link1.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}joint1" type="revolute">
			<origin xyz="0 0 0.0565"/>
			<parent link="${prefix}base_link"/>
			<child link="${prefix}link1"/>
			<axis xyz="0 0 1"/>
			<limit lower="-2.618" upper="2.168" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link2">
			<inertial>
				<origin xyz="-0.12992 -0.0011822 -2.6366E-05"/>
				<mass value="1.1988"/>
				<inertia
						ixx="0.00065"
						ixy="0.00008"
						ixz="0.00000"
						iyy="0.01647"
						iyz="0.00000"
						izz="0.01646"/>
			</inertial>
			<visual>
				<geometry>
					<xacro:if value="${style == 'agilex'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link2_agilex.glb"/>
					</xacro:if>
					<xacro:if value="${style == 'default'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link2.glb"/>
					</xacro:if>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link2.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link2_1">
					<origin xyz="0 0.003 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.0665" radius="0.03"/>
					</geometry>
				</collision>
				<collision name="simple_link2_2">
					<origin xyz="-0.264 0.003 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.0665" radius="0.03"/>
					</geometry>
				</collision>
				<collision name="simple_link2_3">
					<origin xyz="-0.132 0.001 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<box size="0.264 0.051 0.05"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>
		<joint name="${prefix}joint2" type="revolute">
			<origin xyz="0.02 0 0.047"/>
			<parent link="${prefix}link1"/>
			<child link="${prefix}link2"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="3.66" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link3">
			<inertial>
				<origin xyz="0.16181 0.0011723 -0.05455"/>
				<mass value="0.84082"/>
				<inertia
						ixx="0.00082"
						ixy="0.00008"
						ixz="-0.00074"
						iyy="0.00849"
						iyz="0.00001"
						izz="0.00834"/>
			</inertial>
			<visual>
				<geometry>
					<xacro:if value="${style == 'agilex'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link3_agilex.glb"/>
					</xacro:if>
					<xacro:if value="${style == 'default'}">
						<mesh filename="file://$(find arx5_description)/meshes/r5/link3.glb"/>
					</xacro:if>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link3.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link3_1">
					<origin xyz="0.242 0 -0.0603" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.054" radius="0.032"/>
					</geometry>
				</collision>
				<collision name="simple_link3_2">
					<origin xyz="0.13 -0.001 -0.0603" rpy="${PI/2} 0 0"/>
					<geometry>
						<box size="0.25 0.048 0.05"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint3" type="revolute">
			<origin xyz="-0.264 0 0" rpy="-3.1416 0 0"/>
			<parent link="${prefix}link2"/>
			<child link="${prefix}link3"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="3.14" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link4">
			<inertial>
				<origin xyz="0.041751 0.0054236 -0.03337"/>
				<mass value="0.12432"/>
				<inertia
						ixx="0.00022"
						ixy="-0.00002"
						ixz="-0.00009"
						iyy="0.00025"
						iyz="0.00002"
						izz="0.00017"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link4.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link4.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link4">
					<origin xyz="0.07 0.0001 -0.065" rpy="0 0 0"/>
					<geometry>
						<cylinder length="0.04" radius="0.0315"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint4" type="revolute">
			<origin xyz="0.245 -5E-05 -0.06"/>
			<parent link="${prefix}link3"/>
			<child link="${prefix}link4"/>
			<axis xyz="0 1 0"/>
			<limit lower="-1.57" upper="1.57" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link5">
			<inertial>
				<origin xyz="-8.3435E-05 -1.5428E-05 0.052216"/>
				<mass value="0.63601"/>
				<inertia
						ixx="0.00084"
						ixy="0.00000"
						ixz="0.00007"
						iyy="0.00082"
						iyz="0.00000"
						izz="0.00026"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link5.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link5.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link5_1">
					<origin xyz="0.0063 0 0.086" rpy="${PI/2} 0 ${PI/2}"/>
					<geometry>
						<cylinder length="0.045" radius="0.03145"/>
					</geometry>
				</collision>
				<collision name="simple_link5_2">
					<origin xyz="-0.0002 0 0.05" rpy="0 0 0"/>
					<geometry>
						<cylinder length="0.013" radius="0.03145"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint5" type="revolute">
			<origin xyz="0.0702 5E-05 -0.083391"/>
			<parent link="${prefix}link4"/>
			<child link="${prefix}link5"/>
			<axis xyz="0 0 1"/>
			<limit lower="-1.57" upper="1.57" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link6">
			<inertial>
				<origin xyz="0.041697 2.4368E-05 0.00014464"/>
				<mass value="0.44089"/>
				<inertia
						ixx="0.00038"
						ixy="0.00000"
						ixz="0.00000"
						iyy="0.00028"
						iyz="0.00000"
						izz="0.00050"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link6.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link6.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link6">
					<origin xyz="0.038 0 0.0002" rpy="0 ${PI/2} 0"/>
					<geometry>
						<cylinder length="0.064" radius="0.03015"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint6" type="revolute">
			<origin xyz="0.025286 0 0.083391" rpy="3.1416 0 0"/>
			<parent link="${prefix}link5"/>
			<child link="${prefix}link6"/>
			<axis xyz="1 0 0"/>
			<limit lower="-1.57" upper="1.57" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link7">
			<inertial>
				<origin xyz="-0.00035522 -0.007827 -0.0029883"/>
				<mass value="0.064798"/>
				<inertia
						ixx="0.00002"
						ixy="0.00000"
						ixz="0.00000"
						iyy="0.00003"
						iyz="0.00000"
						izz="0.00003"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link7.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link7.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link7">
					<origin xyz="0.0262 0 0.0002" rpy="0 0 0"/>
					<geometry>
						<box size="0.08 0.04 0.0640"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}gripper_joint" type="prismatic">
			<origin xyz="0.08657 0.024896 -0.0002436"/>
			<parent link="${prefix}link6"/>
			<child link="${prefix}link7"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="0.044" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link8">
			<inertial>
				<origin xyz="-0.000355223470270755 0.00782768751820277 0.00242005642879778"/>
				<mass value="0.0647981725781684"/>
				<inertia
						ixx="0.00002"
						ixy="0.00000"
						ixz="0.00000"
						iyy="0.00003"
						iyz="0.00000"
						izz="0.00003"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/r5/link8.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/r5/link8.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link8">
					<origin xyz="0.0262 0 0.0002" rpy="0 0 0"/>
					<geometry>
						<box size="0.08 0.04 0.0640"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint8" type="prismatic">
			<origin xyz="0.08657 -0.0249 -0.00024366"/>
			<parent link="${prefix}link6"/>
			<child link="${prefix}link8"/>
			<axis xyz="0 -1 0"/>
			<limit lower="0" upper="0.044" effort="100" velocity="5"/>
			<mimic joint="${prefix}gripper_joint" multiplier="1" offset="0"/>
		</joint>
		<link name="${prefix}gripper_center"/>
		<joint name="${prefix}gripper_center_fixed" type="fixed">
			<parent link="${prefix}link6"/>
			<child link="${prefix}gripper_center"/>
			<origin xyz="0.08657 0 0"/>
		</joint>

		<link name="${prefix}left_pad"/>
		<joint name="${prefix}left_pad_joint" type="fixed">
			<parent link="${prefix}link7"/>
			<child link="${prefix}left_pad"/>
			<origin xyz="0.05843 -0.0249 0"/>
		</joint>

		<link name="${prefix}right_pad"/>
		<joint name="${prefix}right_pad_joint" type="fixed">
			<parent link="${prefix}link8"/>
			<child link="${prefix}right_pad"/>
			<origin xyz="0.05843 0.0249 0"/>
		</joint>

		<xacro:if value="${camera == 'd405'}">
			<link name="${prefix}camera_support">
				<visual>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d405.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d405.glb"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d405_1">
						<origin xyz="0.0142 0 0.055" rpy="0 ${PI/6} 0"/>
						<geometry>
							<box size="0.01 0.05 0.06"/>
						</geometry>
					</collision>
					<collision name="simple_d405_2">
						<origin xyz="0.001 0 0.014" rpy="0 0 0"/>
						<geometry>
							<box size="0.01 0.05 0.03"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_support_fixed" type="fixed">
				<parent link="${prefix}link6"/>
				<child link="${prefix}camera_support"/>
				<origin xyz="0.045 0 0.021"/>
			</joint>

			<link name="${prefix}camera">
				<visual>
					<geometry>
						<mesh filename="file://$(find sensor_models)/meshes/realsense/d405.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find sensor_models)/meshes/realsense/d405.glb"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d405camera">
						<origin xyz="-0.0115 0 0" rpy="0 0 0"/>
						<geometry>
							<box size="0.0231 0.0421 0.042"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_fixed" type="fixed">
				<origin xyz="0.0385 0 0.0475" rpy="-2.093 0 -1.5708"/>
				<parent link="${prefix}camera_support"/>
				<child link="${prefix}camera"/>
			</joint>
		</xacro:if>

		<xacro:if value="${camera == 'd435'}">
			<link name="${prefix}camera_support">
				<visual>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d435.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d435.glb"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d435">
						<origin xyz="0.001 0 0.014" rpy="0 0 0"/>
						<geometry>
							<box size="0.01 0.05 0.03"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_support_fixed" type="fixed">
				<parent link="${prefix}link6"/>
				<child link="${prefix}camera_support"/>
				<origin xyz="0.045 0 0.021"/>
			</joint>

			<link name="${prefix}camera">
				<visual>
					<geometry>
						<mesh filename="file://$(find sensor_models)/meshes/d435/d435.obj"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find sensor_models)/meshes/d435/d435.obj"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d435camera">
						<origin xyz="-0.0125 0 0" rpy="0 0 0"/>
						<geometry>
							<box size="0.0251 0.0899 0.025"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_fixed" type="fixed">
				<origin xyz="0.03 0 0.034113"/>
				<parent link="${prefix}camera_support"/>
				<child link="${prefix}camera"/>
			</joint>
		</xacro:if>
	</xacro:macro>
</robot>
