<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:arg name="collider" default="simple"/>
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:property name="collider_type" value="$(arg collider)"/>
	<xacro:macro name="X5" params="name collider:=simple camera:=d405">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<link name="${prefix}base_link">
			<inertial>
				<origin xyz="-3.0001E-05 3.0589E-05 0.027324"/>
				<mass value="0.43995"/>
				<inertia
						ixx="0.00017"
						ixy="0.00000"
						ixz="0.00000"
						iyy="0.00017"
						iyz="0.00000"
						izz="0.00016"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/x5/base_link.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/x5/base_link.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision>
					<origin xyz="0 0 0.0312"/>
					<geometry>
						<cylinder length="0.03125" radius="0.031"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<link name="${prefix}link1">
			<inertial>
				<origin xyz="0.0054231 -0.0080289 0.017086"/>
				<mass value="0.066982"/>
				<inertia
						ixx="0.00008086"
						ixy="0.00000207"
						ixz="-0.00000876"
						iyy="0.00003211"
						iyz="0.00000440"
						izz="0.00007702"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/x5/link1.glb"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/x5/link1.glb"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}joint1" type="revolute">
			<origin xyz="0 0 0.0605"/>
			<parent link="${prefix}base_link"/>
			<child link="${prefix}link1"/>
			<axis xyz="0 0 1"/>
			<limit lower="-2.094" upper="${PI}" effort="27" velocity="5.5"/>
		</joint>

		<link name="${prefix}link2">
			<inertial>
				<origin xyz="-0.13234 -0.0040166 0.00010941"/>
				<mass value="1.1068"/>
				<inertia
						ixx="0.00054299"
						ixy="-0.00000184"
						ixz="0.00003884"
						iyy="0.01652639"
						iyz="-0.00000035"
						izz="0.01654931"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/x5/link2.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/x5/link2.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link2_1">
					<origin xyz="0 0.003 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.0665" radius="0.028"/>
					</geometry>
				</collision>
				<collision name="simple_link2_2">
					<origin xyz="-0.264 0.003 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.0665" radius="0.028"/>
					</geometry>
				</collision>
				<collision name="simple_link2_3">
					<origin xyz="-0.132 0 0" rpy="${PI/2} 0 0"/>
					<geometry>
						<box size="0.264 0.05 0.05"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint2" type="revolute">
			<origin xyz="0.02 0 0.04"/>
			<parent link="${prefix}link1"/>
			<child link="${prefix}link2"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="3.665" effort="27" velocity="5.5"/>
		</joint>

		<link name="${prefix}link3">
			<inertial>
				<origin xyz="0.18544 -0.00071369 0.051628"/>
				<mass value="0.54316" />
				<inertia
						ixx="0.00036398"
						ixy="-0.00002814"
						ixz="-0.00039418"
						iyy="0.00422770"
						iyz="-0.00001179"
						izz="0.00419421" />
			</inertial>
			<visual>
				<origin rpy="${PI} 0 0"/>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/x5/link3.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<origin rpy="${PI} 0 0"/>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/x5/link3.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link3_1">
					<origin xyz="0.245 0 0.055" rpy="${PI/2} 0 0"/>
					<geometry>
						<cylinder length="0.049" radius="0.03"/>
					</geometry>
				</collision>
				<collision name="simple_link3_2">
					<origin xyz="0.13 0 0.055" rpy="${PI/2} 0 0"/>
					<geometry>
						<box size="0.2 0.04 0.045"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint3" type="revolute">
			<origin xyz="-0.264 0 0" rpy="0 0 0"/>
			<parent link="${prefix}link2"/>
			<child link="${prefix}link3"/>
			<axis xyz="0 -1 0"/>
			<limit lower="0" upper="3.24" effort="27" velocity="5.5"/>
		</joint>

		<link name="${prefix}link4">
			<inertial>
				<origin xyz="0.039966 -0.0043045 0.035006"/>
				<mass value="0.11827"/>
				<inertia
						ixx="0.00019329"
						ixy="-0.00001619"
						ixz="-0.00008654"
						iyy="0.00023401"
						iyz="-0.00001744"
						izz="0.00014391"/>
			</inertial>
			<visual>
				<origin rpy="${PI} 0 0"/>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/x5/link4.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<origin rpy="${PI} 0 0"/>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/x5/link4.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link4">
					<origin xyz="0.0685 0.0001 0.065" rpy="0 0 0"/>
					<geometry>
						<cylinder length="0.04" radius="0.0315"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint4" type="revolute">
			<origin xyz="0.245 0 0.056"/>
			<parent link="${prefix}link3"/>
			<child link="${prefix}link4"/>
			<axis xyz="0 -1 0"/>
			<limit lower="-1.671" upper="1.671" effort="7" velocity="20"/>
		</joint>

		<link name="${prefix}link5">
			<inertial>
				<origin xyz="0.0029491 8.4086E-05 -0.054795"/>
				<mass value="0.67398" />
				<inertia
						ixx="0.00092704"
						ixy="0.00000049"
						ixz="0.00004559"
						iyy="0.00091568"
						iyz="0.00000053"
						izz="0.00028327" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/ac1/link5.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/ac1/link5.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link5_1">
					<origin xyz="0.01 0 -0.086" rpy="${PI/2} 0 ${PI/2}"/>
					<geometry>
						<cylinder length="0.045" radius="0.03145"/>
					</geometry>
				</collision>
				<collision name="simple_link5_2">
					<origin xyz="0.0035 0 -0.05" rpy="0 0 0"/>
					<geometry>
						<cylinder length="0.013" radius="0.03145"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint5" type="revolute">
			<origin xyz="0.06775 0 0.0845"/>
			<parent link="${prefix}link4"/>
			<child link="${prefix}link5"/>
			<axis xyz="0 0 -1"/>
			<limit lower="-1.671" upper="1.671" effort="7" velocity="20" />
		</joint>

		<link name="${prefix}link6">
			<inertial>
				<origin xyz="0.040212 3.4542E-05 -0.010225"/>
				<mass value="0.34667" />
				<inertia
						ixx="0.00047210"
						ixy="-0.00000041"
						ixz="-0.00002976"
						iyy="0.00049011"
						iyz="-0.00003393"
						izz="0.00018496" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/ac1/link6.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/ac1/link6.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link6">
					<origin xyz="0.038 0 0.0002" rpy="0 ${PI/2} 0"/>
					<geometry>
						<cylinder length="0.064" radius="0.03015"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint6" type="revolute">
			<origin xyz="0.02895 0 -0.0845" />
			<parent link="${prefix}link5"/>
			<child link="${prefix}link6"/>
			<axis xyz="1 0 0"/>
			<limit lower="-2.094" upper="2.094" effort="7" velocity="20" />
		</joint>

		<link name="${prefix}link7">
			<inertial>
				<origin xyz="-0.0060354 -0.015602 0.013499"/>
				<mass value="0.08924" />
				<inertia
						ixx="0.00009869"
						ixy="-0.00000394"
						ixz="0.00001011"
						iyy="0.00009021"
						iyz="0.00001113"
						izz="0.00006849" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/ac1/link7.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/ac1/link7.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link7">
					<origin xyz="0.0262 0 0.0002" rpy="0 0 0"/>
					<geometry>
						<box size="0.08 0.04 0.0640"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}gripper_joint" type="prismatic">
			<origin xyz="0.08397 0.02721 -0.0062702"/>
			<parent link="${prefix}link6"/>
			<child link="${prefix}link7"/>
			<axis xyz="0 1 0"/>
			<limit lower="0" upper="0.044" effort="100" velocity="5"/>
		</joint>

		<link name="${prefix}link8">
			<inertial>
				<origin xyz="-0.00581 0.015593 -0.012255"/>
				<mass value="0.089402" />
				<inertia
						ixx="0.00007306"
						ixy="0.00000404"
						ixz="-0.00001526"
						iyy="0.00006428"
						iyz="0.00000327"
						izz="0.00006822" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find arx5_description)/meshes/ac1/link8.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/ac1/link8.glb"/>
					</geometry>
				</collision>
			</xacro:if>
			<xacro:if value="${collider == 'simple'}">
				<collision name="simple_link8">
					<origin xyz="0.0262 0 0.0002" rpy="0 0 0"/>
					<geometry>
						<box size="0.08 0.04 0.0640"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<joint name="${prefix}joint8" type="prismatic">
			<origin xyz="0.08397 -0.023638 -0.0062703"/>
			<parent link="${prefix}link6"/>
			<child link="${prefix}link8"/>
			<axis xyz="0 -1 0"/>
			<limit lower="0" upper="0.044" effort="100" velocity="5"/>
			<mimic joint="${prefix}gripper_joint" multiplier="1" offset="0"/>
		</joint>

		<link name="${prefix}gripper_center"/>
		<joint name="${prefix}gripper_center_fixed" type="fixed">
			<parent link="${prefix}link6"/>
			<child link="${prefix}gripper_center"/>
			<origin xyz="0.1424 0 0.0001057"/>
		</joint>

		<link name="${prefix}left_pad"/>
		<joint name="${prefix}left_pad_joint" type="fixed">
			<parent link="${prefix}link7"/>
			<child link="${prefix}left_pad"/>
			<origin xyz="0.05843 -0.0249 0.006376"/>
		</joint>

		<link name="${prefix}right_pad"/>
		<joint name="${prefix}right_pad_joint" type="fixed">
			<parent link="${prefix}link8"/>
			<child link="${prefix}right_pad"/>
			<origin xyz="0.05843 0.0249 0.006376"/>
		</joint>

		<xacro:if value="${camera == 'd405'}">
			<link name="${prefix}camera_support">
				<visual>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d405.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d405.glb"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d405_1">
						<origin xyz="0.0142 0 0.055" rpy="0 ${PI/6} 0"/>
						<geometry>
							<box size="0.01 0.05 0.06"/>
						</geometry>
					</collision>
					<collision name="simple_d405_2">
						<origin xyz="0.001 0 0.014" rpy="0 0 0"/>
						<geometry>
							<box size="0.01 0.05 0.03"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_support_fixed" type="fixed">
				<parent link="${prefix}link6"/>
				<child link="${prefix}camera_support"/>
				<origin xyz="0.045 0 0.021"/>
			</joint>

			<link name="${prefix}camera">
				<visual>
					<geometry>
						<mesh filename="file://$(find sensor_models)/meshes/realsense/d405.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find sensor_models)/meshes/realsense/d405.glb"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d405camera">
						<origin xyz="-0.0115 0 0" rpy="0 0 0"/>
						<geometry>
							<box size="0.0231 0.0421 0.042"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_fixed" type="fixed">
				<origin xyz="0.0385 0 0.0475" rpy="-2.093 0 -1.5708"/>
				<parent link="${prefix}camera_support"/>
				<child link="${prefix}camera"/>
			</joint>
		</xacro:if>

		<xacro:if value="${camera == 'd435'}">
			<link name="${prefix}camera_support">
				<visual>
					<geometry>
						<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d435.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find arx5_description)/meshes/camera_stand/stand_d435.glb"/>
						</geometry>
					</collision>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d435">
						<origin xyz="0.001 0 0.014" rpy="0 0 0"/>
						<geometry>
							<box size="0.01 0.05 0.03"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_support_fixed" type="fixed">
				<parent link="${prefix}link6"/>
				<child link="${prefix}camera_support"/>
				<origin xyz="0.045 0 0.021"/>
			</joint>

			<link name="${prefix}camera">
				<visual>
					<geometry>
						<mesh filename="file://$(find sensor_models)/meshes/d435/d435.obj"/>
					</geometry>
				</visual>
				<xacro:if value="${collider == 'convex'}">
					<geometry>
						<mesh filename="file://$(find sensor_models)/meshes/d435/d435.obj"/>
					</geometry>
				</xacro:if>
				<xacro:if value="${collider == 'simple'}">
					<collision name="simple_d435camera">
						<origin xyz="-0.0125 0 0" rpy="0 0 0"/>
						<geometry>
							<box size="0.0251 0.0899 0.025"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>
			<joint name="${prefix}camera_fixed" type="fixed">
				<origin xyz="0.03 0 0.034113"/>
				<parent link="${prefix}camera_support"/>
				<child link="${prefix}camera"/>
			</joint>
		</xacro:if>


	</xacro:macro>
</robot>
