<robot name="arx_lift2s" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="type" default="x5"/>
	<xacro:arg name="enable_wheel_joints" default="false"/>
	<xacro:arg name="ros2_control_hardware_type" default="mock_components"/>
	<xacro:arg name="collider" default="simple"/>
	<!-- Declared here so planning mappings (eef_fixed_joints:=true) reach chassis.xacro;
	     same hook m6_ccs uses to tighten joint4 on planning URDF. -->
	<xacro:arg name="eef_fixed_joints" default="false"/>

	<xacro:property name="type_arg" value="$(arg type)"/>
	<xacro:property name="selected_arm_type" value="x5"/>
	<xacro:if value="${type_arg == 'r5'}">
		<xacro:property name="selected_arm_type" value="r5"/>
	</xacro:if>

	<!-- Lift chassis + prismatic lift_joint -->
	<xacro:include filename="$(find arx_lift2s_description)/xacro/components/chassis.xacro"/>
	<xacro:chassis enable_wheel_joints="$(arg enable_wheel_joints)" collider="$(arg collider)"/>
	<joint name="body_joint" type="fixed">
		<origin xyz="0.13 0.001801 0.0529"/>
		<parent link="lift_link"/>
		<child link="body_link"/>
	</joint>

	<!-- AC One torso + dual arms from arx_acone_description -->
	<xacro:include filename="$(find arx_acone_description)/xacro/components/ac_one.xacro"/>
	<xacro:ac_one collider="$(arg collider)"/>

	<xacro:if value="${selected_arm_type == 'x5'}">
		<xacro:include filename="$(find arx5_description)/xacro/X5_ac1.xacro"/>
		<xacro:X5 name="left" collider="$(arg collider)"/>
		<xacro:X5 name="right" collider="$(arg collider)"/>
	</xacro:if>

	<xacro:if value="${selected_arm_type == 'r5'}">
		<xacro:include filename="$(find arx5_description)/xacro/R5.xacro"/>
		<xacro:R5 name="left" collider="$(arg collider)"/>
		<xacro:R5 name="right" collider="$(arg collider)"/>
	</xacro:if>

	<xacro:include filename="$(find arx_acone_description)/xacro/arm_mount.xacro"/>
	<xacro:ArmBase parent="body_link"/>
	<xacro:DualArmMount parent="arm_base"/>

</robot>
