<?xml version="1.0"?>
<robot name="ARX AC One" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:arg name="type" default="ac_one"/>
	<xacro:arg name="collider" default="simple"/>

	<xacro:if value="${'$(arg type)' == 'ac_one'}">
		<link name="base_link"/>
		<joint name="base_joint" type="fixed">
			<parent link="base_link"/>
			<child link="body_link"/>
		</joint>
		<xacro:include filename="$(find arx_acone_description)/xacro/components/ac_one.xacro"/>
		<xacro:ac_one collider="$(arg collider)"/>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'arms'}">
		<xacro:include filename="$(find arx_acone_description)/xacro/arm_mount.xacro"/>
		<xacro:DualArmBase collider="$(arg collider)"/>
		<xacro:include filename="$(find arx5_description)/xacro/X5_ac1.xacro"/>
		<xacro:X5 name="left" collider="$(arg collider)"/>
		<xacro:X5 name="right" collider="$(arg collider)"/>
	</xacro:if>
</robot>
