<?xml version="1.0"?>
<robot name="arx_acone" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="type" default="x5"/>
	<xacro:arg name="collider" default="simple"/>
	<xacro:arg name="ros2_control_hardware_type" default="mock_components"/>

	<xacro:property name="type_arg" value="$(arg type)"/>
	<xacro:property name="selected_arm_type" value="x5"/>
	<xacro:if value="${type_arg == 'r5'}">
		<xacro:property name="selected_arm_type" value="r5"/>
	</xacro:if>

	<!-- Fixed-base dual-arm torso (no lift chassis) -->
	<link name="base_link"/>
	<joint name="base_joint" type="fixed">
		<parent link="base_link"/>
		<child link="body_link"/>
	</joint>

	<xacro:include filename="$(find arx_acone_description)/xacro/components/ac_one.xacro"/>
	<xacro:ac_one collider="$(arg collider)"/>

	<xacro:if value="${selected_arm_type == 'x5'}">
		<xacro:include filename="$(find arx5_description)/xacro/X5_ac1.xacro"/>
		<xacro:X5 name="left" collider="$(arg collider)"/>
		<xacro:X5 name="right" collider="$(arg collider)"/>
	</xacro:if>

	<xacro:if value="${selected_arm_type == 'r5'}">
		<xacro:include filename="$(find arx5_description)/xacro/R5.xacro"/>
		<xacro:R5 name="left" collider="$(arg collider)"/>
		<xacro:R5 name="right" collider="$(arg collider)"/>
	</xacro:if>

	<xacro:include filename="$(find arx_acone_description)/xacro/arm_mount.xacro"/>
	<xacro:ArmBase parent="body_link"/>
	<xacro:DualArmMount parent="arm_base"/>

</robot>
