<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |    Component visualization for ARX X7S                                            | -->
<!-- =================================================================================== -->
<robot name="ARX_X7S" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:arg name="type" default="base"/>

	<xacro:if value="${'$(arg type)' == 'base'}">
		<!-- Include Chassis -->
		<xacro:include filename="$(find arx_x7s_description)/xacro/components/base.xacro"/>

		<xacro:include filename="$(find arx_x7s_description)/xacro/components/body.xacro"/>
		<xacro:Base/>
		<xacro:Body/>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'wheel'}">
		<!-- Include Wheel -->
		<xacro:include filename="$(find component_models)/xacro/angellun_160.xacro"/>
		<xacro:wheel wheel_name="wheel" enable_passive_wheels="true"/>
	</xacro:if>
</robot>
