<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |    Complete Robot Description for Agibot G1                                     | -->
<!-- |    This file includes the base robot structure and both arms                    | -->
<!-- =================================================================================== -->
<robot name="ARX_Lift" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:arg name="type" default="base"/>

	<xacro:if value="${'$(arg type)' == 'base'}">
		<!-- Include Chassis -->
		<xacro:include filename="$(find arx_lift_description)/xacro/components/mobile_base.xacro"/>
		<xacro:MobileBase/>

		<xacro:include filename="$(find arx_lift_description)/xacro/components/body.xacro"/>
		<xacro:Body/>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'wheel'}">
		<!-- Include Wheel -->
		<xacro:include filename="$(find arx_lift_description)/xacro/components/wheel.xacro"/>
		<xacro:wheel wheel_name="wheel" enable_passive_wheels="true"/>
	</xacro:if>
</robot>
