<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find arx5_description)/xacro/components/camera.xacro"/>
    <xacro:macro name="arx_gripper_2023" params="prefix parent_link collider:=simple camera:=d405">
        <link name="${prefix}link6">
            <inertial>
                <origin xyz="0.041697 2.4368E-05 0.00014464"/>
                <mass value="0.44089"/>
                <inertia ixx="0.00038" ixy="0.00000" ixz="0.00000" iyy="0.00028" iyz="0.00000" izz="0.00050"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="file://$(find arx5_description)/meshes/r5/link6.glb"/>
                </geometry>
            </visual>
            <xacro:if value="${collider == 'convex'}">
                <collision>
                    <geometry>
                        <mesh filename="file://$(find arx5_description)/meshes/r5/link6.glb"/>
                    </geometry>
                </collision>
            </xacro:if>
            <xacro:if value="${collider == 'simple'}">
                <collision name="simple_link6_1">
                    <origin xyz="0.038 0 0.0002" rpy="0 ${PI/2} 0"/>
                    <geometry>
                        <cylinder length="0.064" radius="0.03015"/>
                    </geometry>
                </collision>
                <collision name="simple_link6_2">
                    <origin xyz="0.0705 0 -0.0012" rpy="0 0 0"/>
                    <geometry>
                        <box size="0.01 0.178 0.015"/>
                    </geometry>
                </collision>
            </xacro:if>
        </link>

        <joint name="${prefix}ee_to_link6_fixed" type="fixed">
            <parent link="${parent_link}"/>
            <child link="${prefix}link6"/>
        </joint>

        <link name="${prefix}link7">
            <inertial>
                <origin xyz="-0.00035522 -0.007827 -0.0029883"/>
                <mass value="0.064798"/>
                <inertia ixx="0.00002" ixy="0.00000" ixz="0.00000" iyy="0.00003" iyz="0.00000" izz="0.00003"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="file://$(find arx5_description)/meshes/r5/link7.glb"/>
                </geometry>
            </visual>
            <xacro:if value="${collider == 'convex'}">
                <collision>
                    <geometry>
                        <mesh filename="file://$(find arx5_description)/meshes/r5/link7.glb"/>
                    </geometry>
                </collision>
            </xacro:if>
            <xacro:if value="${collider == 'simple'}">
                <collision name="simple_link7">
                    <origin xyz="0.038 -0.0125 0.0002" rpy="0 0 ${PI/2}"/>
                    <geometry>
                        <box size="0.0231 0.07 0.042"/>
                    </geometry>
                </collision>
            </xacro:if>
        </link>

        <joint name="${prefix}gripper_joint" type="prismatic">
            <origin xyz="0.08657 0.024896 -0.0002436"/>
            <parent link="${prefix}link6"/>
            <child link="${prefix}link7"/>
            <axis xyz="0 1 0"/>
            <limit lower="0" upper="0.044" effort="100" velocity="5"/>
        </joint>

        <link name="${prefix}link8">
            <inertial>
                <origin xyz="-0.00035522 0.0078277 0.0024201"/>
                <mass value="0.064798"/>
                <inertia ixx="0.00002" ixy="0.00000" ixz="0.00000" iyy="0.00003" iyz="0.00000" izz="0.00003"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="file://$(find arx5_description)/meshes/r5/link8.glb"/>
                </geometry>
            </visual>
            <xacro:if value="${collider == 'convex'}">
                <collision>
                    <geometry>
                        <mesh filename="file://$(find arx5_description)/meshes/r5/link8.glb"/>
                    </geometry>
                </collision>
            </xacro:if>
            <xacro:if value="${collider == 'simple'}">
                <collision name="simple_link8">
                    <origin xyz="0.038 0.0125 0.0002" rpy="0 0 ${PI/2}"/>
                    <geometry>
                        <box size="0.0231 0.07 0.042"/>
                    </geometry>
                </collision>
            </xacro:if>
        </link>

        <joint name="${prefix}joint8" type="prismatic">
            <origin xyz="0.08657 -0.0249 -0.00024366"/>
            <parent link="${prefix}link6"/>
            <child link="${prefix}link8"/>
            <axis xyz="0 -1 0"/>
            <limit lower="0" upper="0.044" effort="100" velocity="5"/>
            <mimic joint="${prefix}gripper_joint" multiplier="1" offset="0"/>
        </joint>

        <link name="${prefix}gripper_center"/>
        <joint name="${prefix}gripper_center_fixed" type="fixed">
            <parent link="${prefix}link6"/>
            <child link="${prefix}gripper_center"/>
            <origin xyz="0.145 0 0"/>
        </joint>

        <link name="${prefix}left_pad"/>
        <joint name="${prefix}left_pad_joint" type="fixed">
            <parent link="${prefix}link7"/>
            <child link="${prefix}left_pad"/>
            <origin xyz="0.05843 -0.0249 0"/>
        </joint>

        <link name="${prefix}right_pad"/>
        <joint name="${prefix}right_pad_joint" type="fixed">
            <parent link="${prefix}link8"/>
            <child link="${prefix}right_pad"/>
            <origin xyz="0.05843 0.0249 0"/>
        </joint>

        <xacro:arx_camera_component prefix="${prefix}" camera="${camera}" collider="${collider}"/>
        <xacro:if value="${camera == 'd405' or camera == 'd435' or camera == 'none'}">
            <joint name="${prefix}camera_support_fixed" type="fixed">
                <parent link="${prefix}link6"/>
                <child link="${prefix}camera_support"/>
                <origin xyz="0.045 0 0.021"/>
            </joint>
        </xacro:if>
    </xacro:macro>
</robot>
